
			body {
				padding: 1em;
				margin: 0;
			}

			div.map {
				background: #eee;
				/* float: left; */
				width: 700px;
				height: 370px;
				margin: 0 1em 1em 0;
			}

			div.narrow {
				width: 370px;
			}

			.marker {
				display: inline-block;
			}

			.marker a {
				color: inherit;
				text-decoration: none;
				font-weight: bold;
				color: #fff;
				background: #f00;
				padding: 5px;
			}

